<div class="d-flex justify-content-center">
  <div
    class="card mt-4"
    style="width: 18rem;"
    *ngIf="characterObservable$ | async as character; else loading"
  >
    <img
      class="card-img-top"
      [src]="character.image"
      [alt]="'Character card: ' + character.name"
    />
    <div class="card-body">
      <h5 class="card-title">{{ character.name }}</h5>
      <p class="card-text">
        <span class="badge badge-pill badge-primary">
          {{ character.gender }}
        </span>
        <br />
        {{ character.species }}
      </p>
    </div>
  </div>
  <ng-template #loading>
    <div class="mt-5">
      <div class="spinner-border text-primary spinner-border-sm"></div>
      Loading...
    </div>
  </ng-template>
</div>
