<div class="container-fluid pt-3">
  <div class="row">
    <div class="col">
      <form action="#" [formGroup]="formGroup">
        <div class="form-row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Search character by the name"
              formControlName="name"
            />
          </div>
          <div class="col">
            <select name="gender" class="form-control" formControlName="gender">
              <option [ngValue]="''">Choose gender</option>
              <option [ngValue]="'male'">Male</option>
              <option [ngValue]="'female'">Female</option>
              <option [ngValue]="'genderless'">Genderless</option>
              <option [ngValue]="'unknown'">Unknown</option>
            </select>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col text-center">
            <button
              (click)="clearForm()"
              type="button"
              class="btn btn-outline-primary"
            >
              Clear
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col text-center">
      <div *ngIf="loading">
        <div class="spinner-border text-primary spinner-border-sm"></div>
        Loading...
      </div>

      <div
        class="list-group"
        [hidden]="loading"
        *ngIf="charactersObservable$ | async as characters"
      >
        <div class="alert alert-info" *ngIf="!characters.length">
          The character list is empty. Change the search criteria.
        </div>

        <div
          href="#"
          class="list-group-item list-group-item-action flex-column align-items-start active"
          *ngIf="characters.length"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Name</h5>
            <small>Gender</small>
          </div>
          <p class="mb-1 text-left">
            Species
          </p>
        </div>
        <a
          href="#"
          class="list-group-item list-group-item-action flex-column align-items-start"
          *ngFor="let character of characters"
          routerLink="{{ 'details/' + character.id }}"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ character.name }}</h5>
            <small class="text-muted">{{ character.gender }}</small>
          </div>
          <p class="mb-1 text-left">
            {{ character.species }}
          </p>
        </a>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
          <li
            class="page-item"
            [ngClass]="{'disabled': currentPage === 1}"
            (click)="prevPage()"
          >
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo; Previous</span>
            </a>
          </li>
          <li
            class="page-item"
            [ngClass]="{'disabled': !nextPageAvailable}"
            (click)="nextPage()"
          >
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">Next &raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
